<!DOCTYPE HTML>
<html>
<head>

 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Supernice.css' ) }}">
 <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<style>
body {
      background: url({{ url_for('static', filename='css/desktop.png' ) }}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:5%;
  color:#f1f1f1;
  }
</style>
    <title></title>
</head>
    {% block layout %}{% endblock %}
</html>